<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button style="float:right;width:100%;" ion-button color="light" (click)="addItem()">Add New Room</button>

  <div *ngIf="items">
  <div *ngFor="let item of items">
    <ion-item>
      <ion-label color="primary" floating>Room Number</ion-label>
      <ion-input type="text"  [(ngModel)]="item.link" id="link"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Room Label</ion-label>
      <ion-input type="text" [(ngModel)]="item.label" id="label"></ion-input>
    </ion-item>


    <hr/>
  </div>

  <button style="float:right;width:100%;" ion-button type="submit" (click)="save()">Save</button>
</div>
</ion-content>
