<ion-header>
  <ion-navbar>
    <ion-title>Home Lights</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemSelected(item.link)">
      {{ item.label }}
    </button>
  </ion-list>

</ion-content>
